BasedOnStyle: Google
IndentWidth: 2
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
ColumnLimit: 100
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
AlignEscapedNewlines: DontAlign
AlignTrailingComments:
  Kind: Never
