# misc
.DS_Store
Thumbs.db
*.pem
*.pk

# env files
.env

# Node.js
node_modules
.next
dist
coverage
*.tsbuildinfo

# Arduino IDE and platform.io
debug_custom.json
debug.cfg
esp32.svd
launch.json
.pio
.vscode/.browse.c_cpp.db*

# custom
assets/
tmp/

# library files
firmware/lib/**/examples/**
firmware/lib/**/extras/**
firmware/lib/**/tests/**
firmware/lib/**/docs/**
firmware/**/*.xx
