# misc
.DS_Store
Thumbs.db
*.pem
*.pk

# env files
.env
.env*.local

# Node.js & React/Next.js
node_modules
.next
dist
out
coverage
*.tsbuildinfo

# Arduino IDE and platform.io
debug_custom.json
debug.cfg
esp32.svd
launch.json
.pio
.vscode/.browse.c_cpp.db*

# custom
tmp/
tmp.*
*.xx

# library files
firmware/lib/**/examples/**
firmware/lib/**/extras/**
firmware/lib/**/tests/**
firmware/lib/**/docs/**

# experimental files and folders
firmware/vendor
apps/tmp
apps/web
